*{
    margin: 0;
    padding:0%;
}
header{
    background: black;
    height: 105vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: auto;
    position: relative;
    margin-top: auto;
}

.logo{
    width: 1170px;
    margin: auto;
      
}


.navigation{
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

.navigation li{
    display: inline-block;
}

.navigation li a{
    color: lightpink;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}

.navigation li a:hover{
    background: #fff;
    color: #333;
}

.logopic img{
    width: 3cm;
    height: 3cm;
    float: left;
    position: relative;
    top: 10px;
    margin-left: -40px;
    border-radius: 100px;
}

.myself{
    
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 40%;
    text-align: center;
    background-color: lightpink;
    font-size: small;
    top: -15px;
    

}


.bubble::after{
    
    display: black;
    position: absolute;

    left: -15px;
    top: 15px;

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid burlywood;
}

.name{
    float: left;
    margin: 1%;
}

.paragraph{
    text-align: justify;
    margin: 2%;
    size: 12px;
}

.mikaela{
    width: 8cm;
    height: 8cm;
    float: left;
    position: relative;
    top: 200px;
    margin-left: -10px;
}

.account{
    background-color: pink;
    background-size: 10px;
    text-align: left;
    height: 9%;
    top: 580px;
    position: relative;

}

.find{
    float:left;
    margin: 20px;
    left: -400px;
    position:relative;
    font-size: 18px;

}

.log{
    float: left;
    margin: 10px;
    width: 1000px;
    position: relative;
    top: -300px;
    left: 200px;
}

.cr{
    position: relative;
    float: right;
    margin: 20px;
    top: -300px;
    
}